<div class="chapterFooter">
  <div class="stats">
      <p class="bottomStats"><img src="../img/iconsReady/life.png" />{{life}}</p>
      <p class="bottomStats"><img src="../img/iconsReady/attack.png" />{{attack}} </p>
      <p class="bottomStats"><img src="../img/iconsReady/reputation.png" />{{reputation}} </p>
      <p class="bottomStats"><img src="../img/iconsReady/money.png" />{{money}} </p>
      <p (click)='goToInventory()' class="bottomStats"><img src="../img/iconsReady/inventory.png"/></p>
  </div>
</div>