page-cap1 {

}

    .good{
        color: map-get($colors, secondary);
        font-weight: bold;
        //text-transform: uppercase;
    }
    .bad{
        color: red;
        font-weight: bold;
    }