<back-bar></back-bar>
<ion-content>
  <div id="bg"></div>
  <div id="objects">
    <div [class.hide]='!armorValue'id="armor" ></div>
    <div [class.hide]='armorValue' id="armorOff" (tap)=armor()></div>
    <div *ngIf="alertValue" class="alert" >
        <p>{{this.alertText}}</p>
        <div class="greenButton" (tap)="buy(this.price, this.stat1, this.stat1Value, this.stat2, this.stat2Value)">{{this.gameData.buyText}}</div>
        <div class="button" (tap)="dismissAlert()">{{this.gameData.closeText}}</div>
    </div>
    <div *ngIf="noMoneyAlert" class="alertNoMoney" >
        <p>{{this.alertTextNoMoney}}</p>
        <div class="whiteButton" (tap)="dismissAlertNoMoney()">{{this.gameDatanoMoneyText}}</div>
    </div>
    <div id="treasure" (tap)=treasure()></div>
    <div id="bookshelves" (tap)=bookshelves()></div>
    <div id="table" (tap)=table()></div>
  </div>
</ion-content>
